@model DVCP.ViewModel.userListViewModel
@{
    ViewBag.Title = "Đăng Ký";
    Layout = "~/Views/Shared/LayoutPage2.cshtml";
}
<div class="row" style="margin-left:100px">
    <div class="col-md-3"></div>
    <div class="col-sm-9 col-md-6 ">
        <div class="card" style="margin-top: 30px; margin-bottom: 30px ">

            <div class="card-body register-card-body" style="background-color:black" @*style="background-color: #163c6a; background-image: linear-gradient(#163c6a,#424769)*@>
                <h5 class="card-title text-center" style="font-family:; font-weight: bolder; color: #fab817">ĐĂNG KÝ</h5>
                <p class="text-danger">@ViewBag.anno</p>
                @using (Html.BeginForm())
                {

                    <div class="form-label-group">
                        <label for="Username" style="font-family:; font-weight: bolder; color: #fab817 ">Tên đăng nhập </label><br />

                        @Html.TextBoxFor(m => m.username, new { @class = "form-control", placeholder = "Tên đăng nhập" })
                        @*<div class="input-group-append">
                            <span class="fa fa-user input-group-text"></span>
                        </div>*@
                        @Html.ValidationMessageFor(m => m.username, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-label-group">
                        <label for="Username" style="font-family:; font-weight: bolder; color: #fab817 ">Họ và tên </label><br />

                        @Html.TextBoxFor(m => m.fullname, new { @class = "form-control", placeholder = "Họ và tên " })

                        @*<div class="input-group-append">
                            <span class="fa fa-user input-group-text"></span>
                        </div>*@
                        @Html.ValidationMessageFor(m => m.fullname, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-label-group">
                        <label for="Username" style="font-family:; font-weight: bolder; color: #fab817 ">Mật khẩu </label><br />

                        @Html.PasswordFor(m => m.password, new { @class = "form-control", placeholder = "Mật khẩu" })
                        @*<div class="input-group-append">
                            <span class="fa fa-lock input-group-text"></span>
                        </div>*@
                        @Html.ValidationMessageFor(m => m.password, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-label-group">
                        <label for="Username" style="font-family:; font-weight: bolder; color: #fab817 ">Nhập lại mật khẩu </label><br />

                        @Html.PasswordFor(m => m.repassword, new { @class = "form-control", placeholder = "Nhập lại mật khẩu" })
                        @*<div class="input-group-append">
                            <span class="fa fa-lock input-group-text"></span>
                        </div>*@
                        @Html.ValidationMessageFor(m => m.repassword, "", new { @class = "text-danger" })
                    </div>
                    <div class="row">
                        <div class="col-6" style="color:white">

                            <a href="@Url.Action("Login","User") "><div style="color: #fab817">ĐĂNG NHẬP</div></a>

                        </div>
                        <!-- /.col -->
                        <div class="col-6">
                            <button type="submit" class="btn btn-primary btn-block btn-flat" style="background-color: #fab817; background-image: linear-gradient(#FBD85D,#fab817); color: black">
                                ĐĂNG KÝ
                            </button>

                        </div>
                        <!-- /.col -->
                    </div>
                }

            </div>
            <!-- /.form-box -->
        </div><!-- /.card -->
    </div>
    <div class="col-md-4"></div>
</div>
